<mat-toolbar>
  <button mat-button routerLink="/">Produktmanager</button>
  <button mat-button routerLink="/auth/login">Login</button>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="productsMenu">Produkte</button>
  <mat-menu #productsMenu="matMenu">
    <button mat-menu-item routerLink="/products/list">Produktübersicht</button>
    <button mat-menu-item routerLink="/products/modify">Produkt erstellen</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="categoryMenu">Kategorien</button>
  <mat-menu #categoryMenu="matMenu">
    <button mat-menu-item routerLink="/categories/list">Alle Kategorien</button>
    <button mat-menu-item routerLink="/categories/modify">Kategorie erstellen</button>
  </mat-menu>

</mat-toolbar>
