.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;

}

mat-card {
  width: 400px;
  padding: 20px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-card-header {
      padding-top: 0;
    }

    mat-card-header h2 {
      color: #f8f9fa;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    mat-card-actions {
      display: flex;
      justify-content: space-between;
    }

    .form-field {
      width: 100%;
    }
  }
}
