<mat-card>
  <h2>@if (isEdit) { Kategorie bearbeiten } @else { Neue Kategorie erstellen }</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <!-- Name -->
      <mat-form-field>
        <mat-label>Kategoriename</mat-label>
        <input matInput formControlName="name" placeholder="Kategoriename eingeben">
        @if (categoryForm.controls.name.touched && categoryForm.controls.name.invalid) {
          @if (categoryForm.controls.name.hasError('required')) {
            <mat-error>Kategoriename ist ein Pflichtfeld</mat-error>
          }
          @if (categoryForm.controls.name.hasError('minlength')) {
            <mat-error>Kategoriename muss mindestens 3 Zeichen lang sein</mat-error>
          }
        }
      </mat-form-field>

      <!-- Aktiv-Status -->
      <mat-form-field>
        <mat-label>Aktiv</mat-label>
        <mat-select formControlName="active">
          <mat-option [value]="true">Ja</mat-option>
          <mat-option [value]="false">Nein</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Buttons -->
      <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
        @if (isEdit) { Speichern } @else { Erstellen }
      </button>

    </div>
  </form>

</mat-card>
